.Header_header,
.App_header_caption,
.App_header_button-Up,
.App_header_button-In {
    border: none;
    color: black;
}

.App_header {
    background: #FFF;
}

.Header_header {
    display: flex;
    padding: 16px 22px 13px 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    max-width: 1440px;
    margin: 0 auto;
}

.App_header_caption {
    width: 147px;
    margin-right: auto;
    align-items: center;
    padding: 7px;
}

.App_header_caption a {
    color: black;
}

.App_header_caption a:hover,
.App_header_caption a:hover,
.App_header_caption a:hover,
.App_header_button_logOut:hover {
    color: rgba(24, 144, 255, 1);
}

.App_header_button-group {
    display: flex;
    align-items: center;
}

.App_header_button-In {
    width: 109px;
    border-radius: 5px;
    margin-right: 12px;
    padding: 6px 12px;
}

.App_header_profile {
    display: flex;
    color: black;
    align-items: center
}

.App_header_profile_article {
    font-size: 14px;
    line-height: 22px;
    color: #52c41a;
    border: 1px solid #52c41a;
    border-radius: 5px;
    padding: 6px 10px;
    margin-right: 26px;
}

.App_header_profile_image {
    width: 46px;
    height: 46px;
    margin-left: 13px;
    border-radius: 50%;
    margin-left: 13px;
    margin-right: 27px;
}

.App_header_button_logOut {
    width: 109px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
}

.App_header_button-Up {
    padding: 6px 12px;
}

.active {
    border: 1px solid rgba(82, 196, 26, 1);
    border-radius: 5px;
    color: rgba(82, 196, 26, 1);
}